/*https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff*/

body {
  text-align: left;
  font-family: "Noto Sans", sans-serif;
  cursor: default;
  background-color: #ffffff;
  padding-top: 70px;
  padding-left: 8%;
  padding-right: 8%;
  transition: 0.2s ease;
}

img {
  width: 100%;
  border-radius: 16px;
}

/****** en-tête ******/

header {
  z-index: 2;
  position: fixed !important;
  width: 50%;
  top: 0;
  left: 0;
  padding-top: 16px;
  padding-left: 25%;
  padding-right: 25%;
  font-size: 16px;
  font-weight: bold;
}

ul {
  border-radius: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #14213d;
}

li {
  float: left;
  width: calc(100% / 3);
}

li a {
  border-radius: 16px;
  display: block;
  color: #fca311;
  text-align: center;
  margin: 8px;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fca311;
  color: #14213d;
}

.active {
  background-color: #fca311;
  color: #14213d;
}

/****** boîte1 ******/

.boîte1 {
  z-index: 1;
  float: left;
  margin: 24px;
}

.boîte1 figure {
  float: left;
  width: 45%;
  margin-left: 0;
  margin-right: 0;
}

.boîte1 figure figcaption {
  margin-top: 8px;
  font-size: 12px;
}

.boîte1 h1 {
  float: right;
  width: 45%;
}

.boîte1 p {
  float: right;
  width: 45%;
  text-align: justify;
}

/****** github_contributions_graphic ******/

.github_contributions_graphic {
  z-index: 1;
  margin: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/****** logos ******/

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin: 24px 0;
  text-align: center;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 1;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
}

.logos:hover .logos_animés {
  animation-play-state: paused;
}

.logos_animés {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos_animés img {
  width: 50px;
  border-radius: 0;
  margin: 0 60px;
}

/****** autres appareils ******/

@media (max-width: 1000px) {
  header {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .boîte1 figure {
    width: 100%;
  }

  .boîte1 h1 {
    float: left;
    width: 100%;
  }

  .boîte1 p {
    float: left;
    width: 100%;
  }

  .github_contributions_graphic {
    display: none;
  }
}

/****** autres appareils ******/

@media (max-width: 700px) {
  .logos {
    display: none;
  }
}
