/*https://coolors.co/palette/c9aeaa-000000-6e619e-908bbb-413e79*/
body {
  font-family: Arial, sans-serif;
  background-color: #6e619e;
  margin: 0;
}

.topnav {
  background-color: #141325;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f0f0f0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #908bbb;
  color: #f0f0f0;
}
.topnav a.active {
  background-color: #413e79;
  color: #f0f0f0;
}

.container {
  margin: 0 auto;
}

h1 {
  color: #141325;
  text-align: center;
  font-size: 150px;
}
